#showcase-app-code {
  @extend .container-fluid;
  &.code-below {
    //@extend .container;
    #showcase-app-container {
      @include make-lg-column(12);
    }
    &#showcase-sxs-code {
      display: none;
    }
  }
  &.code-above {
    //@extend .container-fluid;
    #showcase-app-container {
      @include make-lg-column(8);
    }
    &#showcase-sxs-code {
      @include make-lg-column(4);
    }
  }
  tr {
    @include make-row();
  }
}

#showcase-code-position-toggle {
  @media (max-width: $screen-md-max) {
    display: none;
  }
}
#showcase-sxs-code {
  .nav-tabs {
    clear: both;
  }
}